torch
omegaconf
torchaudio
einops
numpy
transformers==4.49.0
sentencepiece
tqdm
tensorboard
descript-audiotools>=0.7.2
descript-audio-codec
scipy
accelerate>=0.26.0
gradio
flash-attn
sageattention
psutil

huggingface_hub
